
html, body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
  padding: 0%;
  background-color: #fff;
}
/* Color*/
.color-0{
  color: #000;
}
.color-1 {
  color: #0DAB76;
}
.color-2 {
  color: #139A43;
}
.color-3 {
  color: #0B5D1E;
}
.color-1 {
  color: #053B06;
}
/* Border */
.border-0 {
  border: 2px solid #000;
}
.border-1 {
  border: 2px solid #139A43;
}
.border-2 {
  border: 2px solid #0DAB76;
}
.border-3 {
  border: 2px solid #0B5D1E;
}
.border-4 {
  border: 2px solid #053B06;
}
/* text-weight */
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 900;
}
.light {
  font-weight: 300;
}

/* Buttons */
.btn {
  padding: .5rem 1.1rem;
  outline: none;
  font-weight: 600;
  text-decoration: none;
} 
.black-white-btn {
  color: #000;
  background-color: #fff;
  border: .2rem solid #000;
}
.color-2-black-btn {
  background-color: #0DAB76;
  border: .2rem solid #0DAB76;
  color: #000;
}
.color-3-white-btn {
  color: #0B5D1E;
  border: .2rem solid #0B5D1E;
}

/* NavBar */
.navbar {
  padding: 0 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.98rem;
}
.navbar-logo {
  font-size: 28px;
}
.navbar-btn {
  display: flex;
  gap: 1rem;
}
.navbar-search-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Repos */
.repos-repo {
  width: 75%;
  margin: 1rem auto;
  padding: 0.5rem 0.3rem;
}
/* SearhBar */
.repos-search-header {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  border: .2rem solid #0B5D1E;
}
.repos-search {
  height: 3.5rem;
  width: 100%;
  padding: 0.5rem 0.3rem;
  font-family: "Nunito Sans", sans-serif;
  border: none;
}
input:focus {
  outline: none;
}

/* Repo */
.repo {
  padding: .5rem;
  text-align: center;
  height: 60vh;
  width: 80vw;
  margin: 4rem auto;
  border: .25rem solid #053B06;
}
.repo p {
  margin: 1.5rem 0;
}
/* ErrPage */
.err-page {
  padding: 8rem 0;
  text-align: center;
}
.err-page h1 {
  font-size: 5rem;
  line-height: 0;
  color: #0B5D1E;
  font-weight: 800;
}
.err-page h3 {
  font-size: 1.5rem;
  line-height: 0.5rem;
  color: #000;
}
.err-page p {
  font-size: 1rem;
  line-height: 0;
  color: #053B06;
}
/* Link */
.link {
  text-decoration: none;
  color: unset;
}
/* Loading */
.loading {
  text-align: center;
  font-size: 1.5rem;
  color: color-mix(in srgb, #053B06 30%, #139A43 60%);
}